name: CI-CD

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Start Docker Compose Services
        run: docker compose -f docker-compose.yml up -d

      - name: Wait for MySQL to be ready
        run: |
          for i in {1..10}; do
            if docker exec fastapi_db mysqladmin ping -h "localhost" --silent; then
              echo "MySQL is ready!"
              break
            fi
            echo "Waiting for MySQL..."
            sleep 5
          done

      - name: Run flake8
        run: docker exec fastapi_app flake8 app

      - name: Run tests
        run: docker exec fastapi_app pytest -q --disable-warnings

      - name: Build Docker image
        run: docker build -t noorfatima21/fastapi-app .

      - name: Push Docker image
        run: docker push noorfatima21/fastapi-app
