name: CI-CD

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_NAME: ${{ secrets.DB_NAME }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_HOST: ${{ secrets.DB_HOST }}
      DB_PORT: ${{ secrets.DB_PORT }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Start services
        run: docker compose up -d

      - name: Install dependencies in container
        run: |
          docker exec fastapi_app pip install -r requirements.txt

      - name: Run flake8
        run: docker exec fastapi_app flake8 app

      - name: Run tests
        run: |
          docker exec -e PYTHONPATH=/app fastapi_app pytest -q tests/
        
      - name: Build Docker image
        run: docker build -t noorfatima21/fastapi-app .

      - name: Push Docker image
        run: docker push noorfatima21/fastapi-app
